---
import Layout from '../layouts/Layout.astro';

const title = "Delivery Moto Fija";
const description = "This is a basic page generated automatically.";
---

<Layout title={title} description={description}>
  <h1>Hello, Astro!</h1>
  <p>This is a basic page generated automatically.</p>
</Layout>
