---
const title = "EnviosFlex - Servicio Flexible de Envíos";
const description = "Servicio flexible de envíos adaptado a tus necesidades.";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <h1>Hello, Astro!</h1>
    <p> This is a basic page generated automatically. </p>
  </body>
</html>
